<a href="https://colab.research.google.com/github/DEEODAVIS/loop/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def fun_name():
  print("FIFA WORLD CUP")
fun_name()

FIFA WORLD CUP

In [3]:
def  namies():
  x=input("enter first name:")
  y=input("enter middle name:")
  z=input("enter last name:")
  print(x,y,z)

In [4]:
namies()

enter first name:jomy
enter middle name:thame
enter last name:kataaa
jomy thame kataaa

In [5]:
def  namies():
  x=input("enter first name:")
  y=input("enter middle name:")
  z=input("enter last name:")
  print(z,x,y)

In [7]:
namies()

enter first name:aaron
enter middle name:jomy
enter last name:thamadii
thamadii aaron  jomy

In [16]:
def  namess(x,y,z):
  print(z,x,y)
x=input("enter first name:")
y=input("enter middle name:")
z=input("enter last name:")

enter first name:DEEO
enter middle name:DAVIS
enter last name:KALLELY

In [17]:
namess(x,y,z)

KALLELY DEEO DAVIS

In [23]:
def fun_name(country = "ARGENTINE"):
  print("I AM FROM " + country)
fun_name("INDIA")
fun_name("BRAZIL")
fun_name()
fun_name("JAPAN")

I AM FROM INDIA
I AM FROM BRAZIL
I AM FROM ARGENTINE
I AM FROM JAPAN

In [24]:
def fun_name(x):
  for y in x:
    print(y)

In [25]:
k = ["DEEO","ADARSH","DONAL","ROBIN"]

In [26]:
fun_name(k)

DEEO
ADARSH
DONAL
ROBIN