<a href="https://colab.research.google.com/github/DEEODAVIS/loop/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("enter the number to display the corresponding of multiplier"))
for i in range(1,11,1):
 print(i,"*",num,"=",i*num)

enter the number to display the corresponding of multiplier300
1 * 300 = 300
2 * 300 = 600
3 * 300 = 900
4 * 300 = 1200
5 * 300 = 1500
6 * 300 = 1800
7 * 300 = 2100
8 * 300 = 2400
9 * 300 = 2700
10 * 300 = 3000

In [ ]:
num=int(input())
i=1
while(i<10):
  print(i,"*",num,"=",i*num)
  i=i+1

500
1 * 500 = 500
2 * 500 = 1000
3 * 500 = 1500
4 * 500 = 2000
5 * 500 = 2500
6 * 500 = 3000
7 * 500 = 3500
8 * 500 = 4000
9 * 500 = 4500

In [ ]:
num=input("Enter any number :")
k=0
for i in num:
  k=k+1
print(k)

Enter any number :22
2

In [11]:
English = int(input("Enter English marks:"))
Hindi = int(input("Enter Hindi marks:"))
Malayalam = int(input("Enter Malayalam marks:"))
Computer = int(input("Enter Computer marks:"))
Social = int(input("Enter Social marks:"))

marks=(English,Hindi,Malayalam,Computer,Social)
print(min(marks))
print(max(marks))
print(sum(marks)/5)

Enter English marks:10
Enter Hindi marks:20
Enter Malayalam marks:30
Enter Computer marks:40
Enter Social marks:50
10
50
30.0